@use '@gear-js/ui/headings' as *;
@use '@gear-js/ui/mixins' as *;

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;

  img {
    max-width: 100%;
  }
}

.video {
  @include transition;

  &:hover {
    opacity: 0.5;
  }

  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.heading,
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.heading {
  @extend %h5;
  -webkit-line-clamp: 1;
}

.description {
  color: #ccc;
  -webkit-line-clamp: 2;
}
